<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite1">
  <test thread-count="5" name="Test2">
    <classes>
      <class name="com.TestNg.practise.Test_Ng"/>
      <class name="com.TestNg.practise.TestNGExample"/>
    </classes>
  </test> <!-- Test2 -->
</suite> <!-- Suite1 -->
